/*
#e200ff #0062ff


*/

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html,
body{
    background-color: #fff;
    color: #555;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


.clearfix {zoom: 1}
.clearfix:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
}

.bpx{
    padding: 3%;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.69)),url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
        background-attachment: fixed;

}

.hero {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
/*========================================= HEADINGS =========================*/

h1,
h2,
h3{
    font-weight: 300;
    text-transform: uppercase;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;

}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;

}

h2:after {
    display: block;
    height: 2px;
    background-color: #f28c31;
    content: "";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}


h3{
    font-size: 110%;
    margin-bottom: 15px;
    padding: 20px;
}
/*========================================= PARAGRAPHS =========================*/

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p{
    font-size: 89%;
    line-height: 145%;
}

/*========================================= ICON =========================*/
.icon-big{
    font-size: 400%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #ed8930;
    font-size: 120%;
    margin-right: 10px;
    
    /*secreats to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}
/*========================================= links =========================*/

a:link,
a:visited{
    color: #ed8930;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #ed8930;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent;
}




/*========================================= button =========================*/
.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 15px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #f57d00;
    transform: scale(1);
    transition: transform 800ms,color 0.4s,border 0.4s,scale 0.7s;
}

.btn-full:link, 
.btn-full:visited,
input[type=submit]{
    background-color: #e67e22;
    border: 1px solid rgb(201, 108, 0);
    color: #fff;
    margin: 15px;
}

input[type=submit]:hover{
    background-color: #cf6d17;
    border: 1px solid rgb(201, 108, 0);
    color: #fff;
    transform: scale(1.25);
    transition: 800ms;
}

.btn-ghost:link, 
.btn-ghost:link{
  border: 1px solid rgb(201, 108, 0);
  color:  #e67e22;
    margin: 15px;
}

.btn:hover,
.btn:active{
    background-color: #cf6d17;
}


.btn-full:hover, 
.btn-full:active{
    background-color: #cf6d17;
    border: 1px solid rgb(201, 108, 0);
    color: #fff;
    transform: scale(1.20);
    transition: 0.7s;
}

.btn-ghost:hover, 
.btn-ghost:active{
  border: 1px solid rgb(201, 108, 0);
  color:  #fff;
  transform: scale(1.20);
  transition: 0.7s;
}

.logo{
    height: 110px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black{
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;

}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 3px solid #ea750f;
}




/* sticky nav*/


.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(252, 252, 252, 0.95);
    box-shadow: 0 2px 2px #e2ccb8;
    transition: 1s;
    transform: scale(1.10);
    z-index: 9999;
}

.sticky .main-nav {margin-top: 20px;}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding: 16px 0;
    color: #555;
}

.sticky .logo{display: none;}
.sticky .logo-black {display: block;}

/*==================================================================*/

/* features */

/*=================================================================*/


.section-features .long-copy{
    margin-bottom: 40px;
}


/*==================================================================*/

/* HEALS */

/*=================================================================*/

.section-meals{
    padding: 0;
}

.meals-showcase{
    list-style: none;
    width: 100%;
}

.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto; 
    transform: scale(1.15);
    transition: transform 800ms, opacity 0.5s;
}

.meal-photo img:hover{
    transform: scale(1.03);
    transition: 800ms;
    opacity: 1;
}

/*==================================================================*/

/* how it works */

/*=================================================================*/

.section-steps{
    background-color: #f4f4f4;
    
}

.steps-box {
    margin-top: 30px;
}

.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;

}

.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen{
    width: 40%;
    margin-left: 250px;
}

.works-step{
    margin-bottom: 50px;
}

.works-setp:last-of-type{
    margin-bottom: 80px;
}

.works-step div{
    color: #cf6d17;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-left: 25px;
    
}

.btn-app:link,
.btn-app:visited{
    border: 0;
}

.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}




/*==================================================================*/

/* cites */

/*=================================================================*/

.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature{
    margin-bottom: 5px;
}

/*==================================================================*/

/* test1 */

/*=================================================================*/

.section-testimnoials{
    position: relative;
    background-image:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;    
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before{
    content: "\201c";
    font-size: 500%;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
}


cite img{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}



/*==================================================================*/

/* sign on */

/*=================================================================*/

.section-plans{
    background-color: #f4f4f4;
}

.plan-box{
    background-color: #fff;
    border-radius: 35px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 3px 3px #b9b9b9;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #ebebeb;
}

.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span{
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal{
    font-size: 80%;
    padding: 5px;
}

.plan-box ul{
    list-style:  none;
}

.plan-box ul li {
    padding: 5px 0;
}


.plan-box div:first-child{
   background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.plan-box div:last-child{
    text-align: center;
}

/*==================================================================*/

/* form */

/*=================================================================*/
 
.contact-form{
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;+
    border-radius: 5px;
    border: 1px solid #c9c9c9;
}

textarea{
    height: 100px;
}

input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

/*==================================================================*/

/* flooter */

/*=================================================================*/

footer{
    background-color: #263238;
    padding: 60px;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social-links{
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links:last-child{
    margin-right: 0 auto;
}


.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link, 
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #9a9a9a;
    transition: color 400ms;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}

footer p{
    color: #9a9a9a;
    text-align: center;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 160%;
    margin: 10px;
    
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
    transition: color 0.4s, font-size 1s;
}


.ion-social-facebook:hover{
    color:#3b5998;
    font-size: 190%;
}
.ion-social-twitter:hover{
    color:#00aced;
    font-size: 190%;
}
.ion-social-googleplus:hover{
    color:#dd4b39;
    font-size: 190%;
}
.ion-social-instagram:hover{
    color:#e4405f;
    font-size: 190%;
}

a.focus{
    outline: none;
}


.js--wp-1,
.js--wp{
    opacity: 0;
}

.js--wp-1 .animated{
    opacity: 1;
}
.js--wp .animated{
    opacity: 1;
}

}